<div class="container">
  <img src="{{product.image}}" class="img" />
  <div class="content-container">
    <h1>{{product.name}}</h1>
    <p class="price">R${{product.price}}</p>
    <a href="#" class="button">ADICIONAR AO CARRINHO</a>
    <h3>Descrição</h3>
    <p class="desc">{{product.desc}}</p>
    <a href="#" class="button">COMPRAR AGORA</a>
  </div>
</div>